<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="../static/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <form class="form-inline my-2 my-lg-0">
        <li class="nav-item active">
            <a class="nav-link" href="dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
        &nbsp;&nbsp;&nbsp;
        <li class="nav-item active">
            <a class="nav-link" href="upload">New Task <span class="sr-only">(current)</span></a>
        </li>
        </form>
    </ul>
    <ul class="navbar-nav mr-right">
      
     
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/logout" role="button"  aria-haspopup="true" aria-expanded="false">
          Log out        </a>
       
      </li>
    </ul>
    
  </div>
</nav>
<div style="margin:50px">
<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Task Added</th>
                <th>Status</th>
                <th>Action</th>
                
                
            </tr>
        </thead>
        {% for i in data %}
       
        <tbody>
        
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
          
                <td><button id="{{i[0]}}" type="button" class="btn btn-warning">Ready</button></td>
                <td><button type="button" class="btn btn-light"><a href="/result/{{i[0]}}">Detail<a></button>
                &nbsp&nbsp
                <button type="button" class="btn btn-danger"><a href="/delete/{{i[0]}}">Delete<a>
                </td>
                
        {% endfor %}
        
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Task Added</th>
                <th>Status</th>
                <th>Action</th>
                
            </tr>
        </tfoot>
    </table>
</div>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="../static/js/extention/choices.js"></script>
    <script src="../static/js/main.js"></script>
   
    <script>
            $(document).ready(function() {
                $('#example').DataTable();
                    } );
    </script>
    
  
  </body>
</html>
