<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="../static/assets/images/favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="../static/assets/css/LineIcons.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="../static/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="../static/assets/css/style.css">


</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <form class="form-inline my-2 my-lg-0">
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
        &nbsp;&nbsp;&nbsp;
        <li class="nav-item active">
            <a class="nav-link" href="/upload">New Task <span class="sr-only">(current)</span></a>
        </li>
        </form>
    </ul>
    <ul class="navbar-nav mr-right">
      
     
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/logout" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Log out        </a>
        
      </li>
    </ul>
    
  </div>
</nav>
<body>

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader_34">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER ENDS START ======-->

    <!--====== HEADER PART START ======-->

   

    <!--====== HEADER PART ENDS ======-->

    <!--====== ABOUT PART START ======-->

    <section id="about" class="about-area pt-125 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="title">{{ task_name }}</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-6">
					<h2 class="about-title" style="color:red">You viewed the graph on the window that opened</h5>
                    <div class="about-content mt-50">
                        <h3 class="about-title">Detail informations of task are below</h5>
										<ul>
											<div><h4>r2 score</h4><li>{{score}}</li></div>

											<div><h4>X_train Data</h4><li>{{X_train}}</li></div>
											<div><h4>y_train Data</h4><li>{{y_train}}</li></div>
										
											<div><h4>X_test Data</h4><li>{{X_test}}</li></div>
											<div><h4>y_test Data</h4><li>{{y_test}}</li></div>
											<div><h4>Total Test Data Number</h4><li>{{t}}</li></div>

										</ul>
                    </div> <!-- about content -->
                </div>
               
                    </div> <!-- about skills -->
                </div>
				
            </div> <!-- row -->
			
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->







    <!--====== jquery js ======-->
    <script src="../static/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="../static/assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Parallax js ======-->
    <script src="../static/assets/js/parallax.min.js"></script>

    <!--====== Counter Up js ======-->
    <script src="../static/assets/js/waypoints.min.js"></script>
    <script src="../static/assets/js/jquery.counterup.min.js"></script>


    <!--====== Appear js ======-->
    <script src="../static/assets/js/jquery.appear.min.js"></script>

    <!--====== Scrolling js ======-->
    <script src="../static/assets/js/scrolling-nav.js"></script>
    <script src="../static/assets/js/jquery.easing.min.js"></script>


    <!--====== Main js ======-->
    <script src="../static/assets/js/main.js"></script>

</body>

</html>
