<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor2/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor2/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor2/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor2/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor2/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/vendor2/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util2.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main2.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" method="post">
					<span class="login100-form-title p-b-70">
						Pizza APP
					</span>
					<span class="login100-form-avatar">
						<img src="../static/images/avatar-01.png" alt="AVATAR">
					</span>
					<br><br><br>
					{% from "includes/formhelpers.html" import render_field %}
					 {{ render_field(form.username) }}
                     {{ render_field(form.password) }}

					<div class="container-login100-form-btn">
						<button class="login100-form-btn"><a href="dashboard">
							Login
						</a></button>
						<br>
						<a href="register">Not Registered? Sign Up Here</a>
					</div>

				
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../static/vendor2/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/bootstrap/js/popper.js"></script>
	<script src="../static/vendor2/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor2/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor2/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/js/main2.js"></script>

</body>
</html>