<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="../static/css/registerstyle.css">

  
</head>

<body>

  <div class="signup__container">
  <div class="container__child signup__thumbnail">
    
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">Welcome to Simple Pizza App</h1>
    </div>
   
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form" style="background-color:#cbdea161">
  	{% from "includes/formhelpers.html" import render_field %}

    <form method="post">
      <div class="form-group">
        {{ render_field(form.username,class="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.email,class="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.password,class="form-control") }}
      </div>
      <div class="form-group">
        {{ render_field(form.password2,class="form-control") }}
      </div>
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input class="btn btn--form" type="submit" value="Register" />
          </li>
          <li>
            <a class="signup__link" href="/">I am already a member</a>
          </li>
        </ul>
      </div>
    </form>  
  </div>
</div>
  
  

</body>

</html>
